# List

### Creating a list

In [1]:
mylist = ["apple", "banana", "cherry"]
print(mylist)
print(type(mylist))

['apple', 'banana', 'cherry']
<class 'list'>

### Allow duplicates

In [2]:
mylist = ["apple", "banana", "apple", "cherry", "banana", "apple"]
print(mylist)

['apple', 'banana', 'apple', 'cherry', 'banana', 'apple']

### data types

In [4]:
list1 = ["apple", "banana", "cherry"]
list2 = [2,5,8]
list3 = [7.8, 8.9, 2.5]
list4 = [True, False, True]
print(list1)
print(list2)
print(list3)
print(list4)

['apple', 'banana', 'cherry']
[2, 5, 8]
[7.8, 8.9, 2.5]
[True, False, True]

In [5]:
a = [12,-8,5,-7,2.3,2,5,3.6,"students","hello",True,False]
print(a)

[12, -8, 5, -7, 2.3, 2, 5, 3.6, 'students', 'hello', True, False]

### List Length

In [6]:
a = [12,-8,5,-7,2.3,2,5,3.6,"students","hello",True,False]
print(len(a))

12

### Access Items

In [7]:
thislist = [12,15,26,78,14,25,96,142,52,22,6,5]
print(thislist[1])

15

In [10]:
thislist = [12,15,26,78,14,25,96,142,52,22,6,5]
print(thislist[8])

52

In [12]:
thislist = [12,15,26,78,14,25,96,142,52,22,6,5]
print(thislist[-1])

5

### slicing of list

In [13]:
thislist = [12,15,26,78,14,25,96,142,52,22,6,5]
print(thislist[0:6])

[12, 15, 26, 78, 14, 25]

In [15]:
thislist = [12,15,26,78,14,25,96,142,52,22,6,5]
print(thislist[0:12:2])

[12, 26, 14, 96, 52, 6]

### change items

In [16]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "strawberry"
print(thislist)

['apple', 'strawberry', 'cherry']

In [17]:
a = [12,14,15,16,8,9,-5,-3,41,-9]
a[2] = "students"
print(a)

[12, 14, 'students', 16, 8, 9, -5, -3, 41, -9]

### change a range of item values

In [18]:
a = [12,14,15,16,8,-9,5,-3,41,-9]
a[2:4]=["books","pen","paper"]
print(a)

[12, 14, 'books', 'pen', 'paper', 8, -9, 5, -3, 41, -9]

In [19]:
a = [12,14,15,78,96,25]
a.append(-9)
print(a)

[12, 14, 15, 78, 96, 25, -9]

In [20]:
m = ["apple","student","hello"]
m.remove("student")
print(m)

['apple', 'hello']

In [21]:
mylist = [1,2,3,4,5,"python","data"]
mylist.reverse()
print(mylist)

['data', 'python', 5, 4, 3, 2, 1]

In [23]:
l = [14,15,12,78,-9,23,-8,52,74,89,25,102,8]
print(len(l))
a = 0
for i in range (13):
    a = a+l[i]
    i = i+1
print("the sum of a list is", a)

13
the sum of a list is 475

### multiply all the numbers of a list

In [24]:
a = [1,2,3,4,5,6,7,8,9,10]