# Loops

### while loop

##### program to display numbers from 1 to 5

In [1]:
i = 1
n = 5
while i <= n:
    print(i)
    i = i + 1

1
2
3
4
5

##### enter the value from a user and make a multiplication table till 10

In [2]:
x = int(input("enter the value"))
i = 1
while i<=10:
    print(x*i)
    i = i+1
print("this is the multiplication table")

enter the value 8

8
16
24
32
40
48
56
64
72
80
this is the multiplication table

### using else statement in the while loop

In [5]:
count = 0
while(count<5):
    count = count + 1
    print("hello students")
else: 
    print("this is the else block")

hello students
hello students
hello students
hello students
hello students
this is the else block

### for loop

In [4]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    print(x)

apple
banana
cherry

### looping through a string

In [6]:
for x in "banana":
    print(x)

b
a
n
a
n
a

In [7]:
for x in range(10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [9]:
for x in range(3,10):
    print(x)

3
4
5
6
7
8
9