# Sets

### creating a set

In [1]:
a = {"animals", "ball", "cat"}
print(a)
print(type(a))

{'animals', 'ball', 'cat'}
<class 'set'>

### Duplicates not allowed

In [2]:
a = ["animals", "ball", "cat", "animals", "ball", "ball"]
print(a)

['animals', 'ball', 'cat', 'animals', 'ball', 'ball']

### True and 1 is consider the same value

In [3]:
a = {"animals", "ball", "cat", "animals", "ball", "ball", 1,2,3, True}
print(a)

{1, 2, 3, 'animals', 'ball', 'cat'}

### Get the length of a set

In [4]:
a = {"animals", "ball", "cat", "animals", "ball", 1,2,3, True}
print(a)
print(len(a))

{1, 2, 3, 'animals', 'ball', 'cat'}
6

### Set Items - Data Types

In [5]:
x1 = {1,2,3,4}
x2 = {1.2,2.3,3.1,4.5}
x3 = {"a", "b", "c"}
x4 = {True, False, True}
print(x1,x2,x3,x4)

{1, 2, 3, 4} {1.2, 2.3, 3.1, 4.5} {'a', 'b', 'c'} {False, True}

In [6]:
m = {1,2,-5,2.1,2.3,6+3j,"apple",True}
print(m)

{1, 2, 2.1, 2.3, 'apple', -5, (6+3j)}

In [7]:
x5 = {(1,2,3,4)}
print(x5)

{(1, 2, 3, 4)}

### The Set() Constructor

In [8]:
thisset = set(("alpha", "beta", "gamma"))
print(thisset)
print(type(thisset))

{'gamma', 'beta', 'alpha'}
<class 'set'>

### creating empty set

In [9]:
a = {}
print(a)
print(type(a))

{}
<class 'dict'>

In [10]:
empty = set()
print(empty)
print(type(empty))

set()
<class 'set'>

### Access Items

In [11]:
a = {"a", "b", "c", "d"}
for x in a:
    print(x)

d
a
b
c

### Check if item is present in the set

In [12]:
a = ("data", "python", "code")
print("code" in a)

True

In [13]:
a = ("data", "python", "code")
print("analyst" in a)

False

### Add Items

In [14]:
a = {"a", "b", "c", "d"}
a.add(100)
print(a)

{100, 'c', 'b', 'd', 'a'}

In [15]:
x = {"data", "python", "code"}
y = [10,20,30,40,50,60,70]
x.update(y)
print(x)

{'data', 70, 'python', 40, 10, 50, 20, 'code', 60, 30}

### Remove Set items

In [16]:
n = {70,40,'code',10,'python',50,20,'data',60,30}
n.remove(40)
print(n)

{'data', 70, 'python', 10, 50, 20, 'code', 60, 30}

In [17]:
m = {70,40,'code',10,'python',50,20,'data',60,30}
x = m.pop()
print(m)

{70, 40, 'python', 10, 50, 20, 'code', 60, 30}

In [18]:
m = {70,40,'code',10,'python',50,20,'data',60,30}
m.clear()
print(m)

set()

### Join Two Sets

In [19]:
x = {"a", "b", "c"}
y = {1,2,3}
z = x.union(y)
print(z)

{1, 2, 3, 'c', 'a', 'b'}

### Write a program to find max and min values

In [20]:
setn = {5,10,15,2,20}
print("Original set elements")
print(setn)
print("Maximum value of the set is")
print(max(setn))
print("Minimum value of set is")
print(min(setn))

Original set elements
{2, 20, 5, 10, 15}
Maximum value of the set is
20
Minimum value of set is
2

### Return a new set of identical items from two sets

In [21]:
set1 = {10,20,30,40,50}
set2 = {30,40,50,60,70}
print(set1.intersection(set2))

{40, 50, 30}